*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;

}

html,
body,
#root{
  height: 100%;
}

body{
  background-image: url('img/pexels-main-bg-pruple.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}